.vs
.idea
out
ChessProject/x64
ChessProject/Debug
ChessProject/ChessProject/x64
ChessProject/ChessProject/Debug
FrontEnd/application/chess/.idea
FrontEnd/application/chess/cmake-build-debug
FrontEnd/www/PlayRoomOld.js
