[x-cloak] {
    display: none !important;
}

body{
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(56, 56, 56);
}

img{
    pointer-events: none;
}

.board{
    margin: auto;
    border: white 2px solid;
    width: 80vh;
    max-width: 80vw;
}

.row{
    display: grid;
    grid-template-columns: repeat(8,1fr);
}

.row-element{
    border: white 2px solid ;
    box-sizing: border-box;
    aspect-ratio: 1;
    width: 100%;
    background: #008dcd;
    cursor: pointer;
}

.row:nth-child(odd) > .row-element:nth-child(even),
.row:nth-child(even) > .row-element:nth-child(odd) {
    background: deepskyblue;
}

.image {
    width: 80%;
    height: 80%;
    margin: 10%;
}

.leave-button-image{
    width: 90%;
    height: 90%;
}

.leave-button {
    width: 10vh;
    height: 10vh;
    max-width: 10vw;
    max-height: 10vw;
    border: none;
    cursor: pointer;
    position: fixed;
    z-index: 1000;
    top: 20px;
    left: 20px;
    background: transparent;
    border-radius: 100%;
}

.leave-button:hover{
    background: gray;
}

.leave-button:active{
    background: #4e4e4e;
}

.round-message{
    color: white;
    text-align: center;
}

.lightbox{
    width: 350px;
    border-radius: 24px;
    border: none;
    outline: none;
}

.lightbox::backdrop{
    background: rgba(0, 0, 0, 0.6);
}

.lightbox>h2{
    margin-top: 0;
    text-align: center;
}

.select-div{
    width: 310px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.promotion-container{
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background: #008dcd;
}

.promotion-container:nth-child(odd){
    background: deepskyblue;
}

.promotion-image{
    width: 60px;
    height: 60px;
    margin: 5px;
}

.leave-button-image{
    transform: rotate(180deg);
}

.bottom-info{
    display: flex;
    justify-content: space-between;
}

.undo-button, .redo-button{
    border: none;
    background: transparent;
}

.undo-button:hover, .redo-button:hover{
    cursor: pointer;
    background: gray;
}

.undo-button:active, .redo-button:active{
    background: #4e4e4e;
}

.undo-button:disabled, .redo-button:disabled{
    cursor: default;
    background: transparent;
    opacity: .3;
    transition: opacity 150ms;
}

.undo-button-image, .redo-button-image{
    width: 50px;
    height: 50px;
}

.box-content{
    font-size: larger;
    text-align: center;
}

.confirm-button{
    display: block;
    margin: auto;
    width: 150px;
    height: 40px;
    color: white;
    font-size: large;
    border-radius: 16px;
    background: #008dcd;
    border: none;
}

.confirm-button:hover{
    background: #005b9b;
    cursor: pointer;
}

.confirm-button:active {
    background: #002969;
    cursor: pointer;
}